<header>
    <div class="header-area">
        <div class="logo-area">
            <h1 class="logo"><a href="/" class="text-decoration-none text-reset">MinhaMente</a></h1>
        </div>
        <div class="pesquisa-area">
            <form action="/results" class="pesquisa-form">
                <input type="search" name="search" class="pesquisa-input" autocomplete="off" placeholder="Pesquisar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="perfil-area">
            <a href="/adm/publicar-apontamento"><i class="fa-solid fa-arrow-up-from-bracket publicar"></i></a>
            <img src="<%= user.avatar%>" draggable="false" class="perfil-icon">
        </div>            
    </div>
    <div class="pesquisa-mobile-area">
        <form action="/results" class="pesquisa-form pesquisa-mobile">
            <input type="search" name="search" class="pesquisa-input" autocomplete="off" placeholder="Pesquisar" >
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>
<div class="nav-container">
    <div class="perfil-nav">
        <ul>
            <a href="/conta/<%= user.id%>/<%= user.nome%>"><li>Conta</li></a>
            <a href="/adm/apontamentos"><li>Apontamentos</li></a>
            <a href="/adm/assuntos"><li>Assuntos</li></a>
            <a href="/adm/usuarios"><li>Usuarios</li></a>
            <a href="" onclick="logout()"><li>Saír</li></a>
        </ul>
    </div>                
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function logout() {
        try {
            await axios.post("/logout")
            window.location = '/login'
        } catch (error) {
            console.log(error);
        }
    }
</script>