<%- include("partials/head") %>
<body>
    <div class="entrar-container">
        <div class="login-area">
            <h1>Entrar</h1>
            <div class="login-form">
                <label for="login-email">Email:</label>
                <input type="email" name="email" id="login-email" autocomplete="off" placeholder="Digite o seu email" required>
                <label for="login-senha">Senha:</label>
                <input type="password" name="senha" id="login-senha" minlength="8" autocomplete="off" placeholder="Digite a sua senha" required>
                <a href="/recuperarsenha" style="color: blue;margin-bottom: 10px;text-decoration: underline;">Esqueci a senha</a>
                <span style="display: none;color: red; margin-bottom: 5px;" id="login-erro-1">Senha ou email incorreto</span>
                <span style="display: none;color: red; margin-bottom: 5px;" id="login-erro-2">A senha precisa ter no mínimo 8 caracteres</span>
                <button onclick="login()">Entrar</button>
            </div>
        </div>
        <div class="cadastro-area">
            <h1>Criar conta</h1>
            <div class="cadastro-form" >
                <label for="cadastro-nome">Nome:</label>
                <input type="text" name="nome" id="cadastro-nome" autocomplete="off" placeholder="Digite o seu nome" required>
                <label for="cadastro-email">Email:</label>
                <span style="display: none;color: red; margin-bottom: 5px;" id="email-erro">O email já está cadastrado</span>
                <input type="email" name="email" id="cadastro-email" autocomplete="off" placeholder="Digite o seu email" required>
                <label for="cadastro-senha">Senha:</label>
                <input type="password" name="senha" minlength="8" id="cadastro-senha" autocomplete="off" placeholder="Digite a sua senha" required>
                <span style="display: none;color: red; margin-bottom: 5px;" id="senha-erro">A senha precisa ter no mínimo 8 caracteres</span>
                <div class="cadastro-botoes">
                    <label for="foto-cadastro">Foto de perfil</label>
                    <input type="file" accept="image/png, image/jpeg" name="avatar" id="foto-cadastro">
                    <button onclick="criar()">Criar conta</button>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function criar() {
        
        let nome = document.getElementById("cadastro-nome").value
        let email = document.getElementById("cadastro-email").value
        let senha = document.getElementById("cadastro-senha").value
        let avatar = document.getElementById("foto-cadastro").files[0]
        
        let user = {avatar: avatar, nome: nome, email: email, senha: senha}
        
        try {
            await axios.post("/user", user, {headers: { "Content-Type" : "multipart/form-data"}})
            window.location = '/'
        } catch (error) {
            if(error.response.data.err == "Email já está cadastrado"){
                document.getElementById("email-erro").style.display = "flex"
            } else{
                document.getElementById("email-erro").style.display = "none"
            }

            if (error.response.data.err == "A senha precisa ter no mínimo 8 caracteres") {
                document.getElementById("senha-erro").style.display = "flex"
            } else {
                document.getElementById("senha-erro").style.display = "none"
            }
        }
    }
    
    async function login() {

        let email = document.getElementById("login-email").value
        let senha = document.getElementById("login-senha").value
    
        let user = {email: email, senha: senha}
        
        try {
            await axios.post("/login", user)
            window.location = '/'
        } catch (error) {
            if(error.response.status == 406 || error.response.status == 404){
                document.getElementById("login-erro-1").style.display = "flex"
            } else{
                document.getElementById("login-erro-1").style.display = "none"
            }

            if(error.response.status == 400){
                document.getElementById("login-erro-2").style.display = "flex"
            } else{
                document.getElementById("login-erro-2").style.display = "none"
            }
        }
    }
</script>