/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --verde: #16b83e;
    --amarelo: #FFE11F;
    --azul: #1651B8;
} */

/* header {
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 2000;
    position: fixed;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--verde);
}

.header-area {
    display: flex;
    flex-direction: row;
}

.logo-area {
    flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.pesquisa-mobile-area {
    display: none;
}

.pesquisa-area {
    flex: 1;
}

.pesquisa-form {
    min-width: 600px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

input::-webkit-search-cancel-button {
    display: none;
}

.pesquisa-input {
    width: 90%;
    color:  black;
    font-size: 16px;
    padding: 5px 30px;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.pesquisa-input::placeholder {
    color: #ccc;
    font-size: 16px;
}

.pesquisa-form button {
    width: 10%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B5B5B5;
    border-radius: 0px 5px 5px 0px;
}

.perfil-area {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.login {
    display: flex;
    font-size: 20px;
    font-weight: 500;
}

.login:hover {
    color: #d3d3d3;
}

.publicar {
    font-size: 24px;
    cursor: pointer;
}

.perfil-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 25px;
    border-radius: 100%;
    background-color: var(--azul);
}

.nav-container {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    background-color: #cccccc00;
}

.perfil-nav {
    top: 50px;
    right: 50px;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
}

.perfil-nav a {
    text-decoration: none;
}

.perfil-nav ul {
    padding-left: 0px;
}

.perfil-active {
    display: flex;
}

.perfil-nav ul li {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
}

.perfil-nav ul li:hover {
    background-color: #B5B5B5;
}

.perfil-nav ul li {
    font-size: 16px;
    color: black;
} */

/* .assuntos-bar {
    display: flex;
    height: 140px;
    margin-top: 50px;
    align-items: center;
    background-color: var(--amarelo);
}

.assuntos-arrow-left i,.assuntos-arrow-right  {
    cursor: pointer;
}

.assuntos-arrow-left {
    display: flex;
    left: 25px;
    position: absolute;
    flex-direction: row;
    align-items: center;
}

.assuntos-arrow-right {
    display: flex;
    right: 25px;
    position: absolute;
    flex-direction: row;
    align-items: center;
}

.assuntos-arrows i {
    font-size: 40px;
}

.assuntos-arrows i:hover {
    color: #B5B5B5;
}

.assuntos-bar-area {
    width: 100%;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.assuntos-bar-area::-webkit-scrollbar {
    display: none;
}

.assuntos-bar-area a {
    margin: 0px 5px;
}

.assunto {
    min-width: 190px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--azul);
}

.assunto:hover {
    background-color: #124194;
}

.assunto i {
    font-size: 30px;
}

.assunto span {
    font-size: 24px;
    font-weight: 700;
} */

/* .container {
    padding: 100px 90px;
}

.assuntos-page-titulo-area {
    display: flex;
    flex-direction: column;
}

.assunto-page-titulo {
    color: var(--azul);
    font-size: 24px;
    font-weight: 500;
}

.assunto-page-titulo-bar{
    width: 30%;
    height: 5px;
    margin-top: 5px;
    border-radius: 50px;
    background-color: var(--azul);
}

.apontamentos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.apontamento {
    max-width: 300px;
    max-height: 230px;
    margin: 0px 7.5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.apontamento-miniatura {
    width: 300px;
    height: 170px;
    border-radius: 10px;
    background-color: var(--azul);
}

.apontamento a:last-child {
    margin-top: 5px;
}

.apontamento .apontamento-titulo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.apontamento-titulo a {
    color: black;
    font-size: 20px;
    font-weight: 500;
} */


/* Criar assunto */

/* .criar-assunto-area {
    min-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.criar-assunto-area label {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.criar-assunto-area button {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: var(--verde);
}

.criar-assunto-area button:hover {
    background-color: #129b35;
} */

/* Página de publicação */

/* .publicar-container {
    display: flex;
}

.publicar-container aside {
    width: 15%;
    max-width: 200px;
    height: fit-content;
    padding: 30px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 3px 7px black;
}

.assuntos-lateral-bar div i, .assuntos-lateral-bar div span {
    font-size: 20px;
    font-weight: 700;
}

.assuntos-lateral-bar div {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.assuntos-lateral-bar div i {
    color: var(--verde);
}

.assuntos-lateral-bar div span {
    color: black;
}

.assuntos-lateral-bar div:hover {
    background-color: #ccc;
}

.publicar-container section {
    width: 85%;
    max-width: 900px;
    margin-left: 60px;
}

.publicar-area {
    display: flex;
    flex-direction: column;
}

.publicar-area label[for="titulo"], .publicar-area label[for="miniatura"], .publicar-area label[for="apontamento-conteudo"] {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.publicar-area input {
    width: 100%;
    height: 40px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.publicar-area .tox, .publicar-area #apontamento-conteudo {
    max-width: 900px;
    min-height: 500px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    margin-bottom: 25px;
}

.botoes-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes select {
    width: max-content;
    min-height: 30px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 5px;
}

.botoes select option {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.botoes input[name = "miniatura"] {
    display: none;
}

.botoes label[for="miniatura"] {
    display: flex;
    width: 150px;
    max-width: 150px;
    height: 30px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: var(--amarelo);
}

.botoes label[for="miniatura"]:hover {
    background-color: #d3ba1c;
}

.botoes-area button {
    width: 150px;
    height: 30px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: var(--verde);
}

.botoes-area button:hover {
    background-color: #129b35;
} */

/* Página do apontamento */

/* .apontamento-container {
    display: flex;
}

.apontamento-container aside {
    width: 15%;
    max-width: 200px;
    height: fit-content;
    padding: 30px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 3px 7px black;
}

.apontamento-container section {
    width: 85%;
    max-width: 900px;
    margin-left: 60px;
}

.apontamento-area {
    display: flex;
    flex-direction: column;
}

.apontamento-titulo {
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.apontamento-data {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.apontamento-conteudo {
    max-width: 900px;
    min-height: 500px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
}

.apontamento-conteudo * {
    color: black;
}

.assunto-area form {
    display: flex;
    flex-direction: row;
}

.botao-apagar {
    width: 90px;
    height: 30px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: red;
}

.botao-apagar:hover {
    background-color: rgb(185, 0, 0);
}

.botao-editar {
    width: 90px;
    height: 30px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 15px;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--azul);
}

.botao-editar:hover {
    background-color: #124194;
} */

/* Perfil página */

/* .perfil-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.perfil-container button {
    cursor: pointer;
}

.editar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar h1 {
    color: black;
    font-weight: 700;
    margin-bottom: 30px;
}

.editar form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.editar label {
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.editar input {
    width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.editar-botoes {
    display: flex;
    justify-content: space-between;

}

.editar-botoes label {
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    padding: 6px 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--azul);
}

.editar-botoes label:hover {
    background-color: #124194;
}

.editar-botoes input[type="file"] {
    display: none;
}

.editar-botoes button {
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    padding: 6px 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--verde);
}

.editar-botoes button:hover {
    background-color: #129b35;
}

.cartao-usuario-mobile {
    display: none;
}

.cartao-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

.foto-perfil {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: var(--azul);
}

.nome-usuario {
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.email-usuario {
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 90px;   
}

.cartao-usuario button {
    font-size: 15px;
    font-weight: 700;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
}

.cartao-usuario button:hover {
    background-color: rgb(185, 0, 0);
} */

/* Página de login */

    /* .entrar-container {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        align-items: center;
        justify-content: space-between;
    }

    .login-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        max-width: 500px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
        background-color: #F5F5F5;
    }

    .login-area h1 {
        color: black;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .login-form label {
        color: black;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .login-form input {
        width: 100%;
        padding: 5px;
        color: black;
        font-size: 20px;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 20px;
    }

    .login-form button {
        width: 100%;
        height: 30px;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: var(--verde);
    }

    .login-form button:hover {
        background-color: #129b35;
    }

    .cadastro-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        max-width: 500px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
        background-color: #F5F5F5;
    }

    .cadastro-area h1 {
        color: black;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .cadastro-form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cadastro-form label {
        color: black;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .cadastro-form input {
        width: 100%;
        padding: 5px;
        color: black;
        font-size: 20px;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 20px;
    }

    .cadastro-botoes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cadastro-botoes input {
        display: none;
    }

    .cadastro-botoes label {
        width: 100%;
        height: 30px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--azul);
    }

    .cadastro-botoes label:hover {
        background-color: #124194;
    }

    .cadastro-botoes button {
        width: 100%;
        height: 30px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--verde);
    }

    .cadastro-botoes button:hover {
        background-color: #129b35;
    } */

@media (max-width: 390px) {
    
    header {
        height: auto;
        padding: 10px 10px;
    }

    .pesquisa-area {
        display: none;
    }

    .pesquisa-form {
        min-width: 100%;
    }

    .pesquisa-mobile-area {
        display: flex;
        margin-top: 10px;
    }

    .assuntos-arrow-left {
        left: 20px;
    }

    .assuntos-arrow-right {
        right: 20px;
    }

    .assuntos-arrows i {
        font-size: 30px;
    }

    .assuntos-bar-area {
        padding: 10px 15px;
    }
    
    .assuntos-bar-area a {
        margin: 0px 5px;
    }

    .container {
        padding: 25px;
    }

    .assunto-page-titulo {
        font-size: 20px;
    }
    
    .assunto-page-titulo-bar{
        width: 60%;
    }

    .perfil-nav {
        top: 50px;
        right: 10px;
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        background-color: #eaeaea;
    }

/* Página de publicação */

    .publicar-container {
        justify-content: center;
    }

    .publicar-container aside {
        display: none;
    }

    .publicar-container section {
        margin: 0px;
    }

    .botoes-area {
        display: flex;
        flex-direction: column;
    }

    .botoes-area button {
        width: 100%;
        margin-top: 20px;
    }

/* Página do apontamento */

    .apontamento-container {
        justify-content: center;
    }

    .apontamento-container aside {
        display: none;
    }

    .apontamento-container section {
        margin: 0px;
    }

    .assunto-area form {
        display: flex;
        flex-direction: column;
    }

    .botao-apagar {
        width: 100%;
        height: 30px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        background-color: red;
    }

    .botao-editar {
        width: 100%;
        height: 30px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        padding: 5px 15px;
        margin-left: 0px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background-color: var(--azul);
    }

/* Perfil página */

    .perfil-container {
        display: flex;
        flex-direction: column;
    }

    .editar {
        width: 100%;
    }

    .editar-botoes {
        display: flex;
        flex-direction: column;
    }

    .editar-botoes label {
        color: white;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        height: 30px;
        padding: 6px 50px;
        cursor: pointer;
        border-radius: 5px;
        background-color: var(--azul);
    }

    .editar-botoes button {
        color: white;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        height: 30px;
        padding: 6px 50px;
        border: none;
        border-radius: 5px;
        background-color: var(--verde);
    }

    .cartao-usuario {
        display: none;
    }
    
    .cartao-usuario-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 10px black;
    }

    .cartao-usuario-mobile button {
        font-size: 15px;
        font-weight: 700;
        width: 170px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: red;
    }

    .cartao-usuario-mobile button:hover {
        background-color: rgb(185, 0, 0);
    }

    /* Página de login */

    .entrar-container {
        display: flex;
        flex-direction: column;
    }

    .login-area {
        margin-bottom: 30px;
    }

}